<div class="">
    <a href="#/courses" class="btn btn-xs btn-default">
      <material-icon-back />&nbsp;Voltar
    </a>
</div>

<div class="col-md-12" novalidate>
  <form class="form-horizontal" name="courseForm">
    <input type="hidden" name="id" data-ng-model="Course.course.CourseId">

    <div class="form-group label-floating">
      <label class="control-label" for="name">Nome</label>
      <input class="form-control" id="name" name="name" type="text"
            required minlength="3" data-ng-model="Course.course.Name">

      <span class="help-block" data-ng-show="courseForm.name.$error.required">Digite um nome.</span>
      <span class="help-block" data-ng-show="courseForm.name.$error.minlength">Digite ao menos 3 letras.</span>
    </div>

    <div class="text-center">
      <button type="submit" data-ng-click="Course.update(Course.course)"
              data-ng-disabled="courseForm.$invalid" class="btn btn-xs">
        <i material-icon icon="save"></i>
        Salvar
      </button>
    </div>
  </form>
</div>
