<div class="">
    <a href="#/courses/new" class="btn btn-xs btn-primary">
      <material-icon-class />
      &nbsp;Novo Curso
    </a>
</div>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th style="width:100%">
        Nome
      </th>
      <!-- Exclusão -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="course in Course.coursesList track by course.CourseId">
      <td>
        <a href="#/course/{{course.CourseId}}">{{course.Name}}</a>
      </td>
      <td>
        <button class="btn btn-danger btn-xs" data-ng-click="Course.delete(course.CourseId)"><i material-icon icon="delete_forever"></i> </button>
      </td>
    </tr>
  </tbody>
</table>
