<div class="">
    <a href="#/courses" class="btn btn-xs btn-default">
      <material-icon-back />
      Voltar
    </a>
</div>

<div class="col-md-12">
  <form class="form-horizontal" name="courseForm" novalidate>
    <div class="form-group label-floating">
      <label class="control-label" for="name">Nome</label>
      <input class="form-control" id="name" name="name" type="text" required minlength="3" data-ng-model="course.Name">

      <span class="help-block" data-ng-show="courseForm.name.$error.required">Digite um nome.</span>
      <span class="help-block" data-ng-show="courseForm.name.$error.minlength">Digite ao menos 3 letras.</span>
    </div>

    <div class="text-center" >
      <button type="submit" data-ng-click="Course.add(course)" data-ng-disabled="courseForm.$invalid" class="btn btn-xs">
        <material-icon-save />
        &nbsp;Salvar
      </button>
    </div>
  </form>
</div>
