<div class="">
    <a href="#/courses" class="btn btn-xs btn-default">
      <material-icon-back />
      Voltar
    </a>
    <a href="#/course/edit/{{Course.course.CourseId}}" class="btn btn-xs btn-info">
      <material-icon-edit />
      Editar
    </a>
</div>

<div class="col-md-12">
  <dl class="dl-horizontal">
    <dt>Nome</dt>
    <dd>{{Course.course.Name}}</dd>
  </dl>
</div>
