<div class="modal fade" id="modalStudentAddCourse" tabindex="-1" role="dialog" data-keyboard='false' data-backdrop='static'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Adicionar curso</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <form class="form-horizontal" name="courseForm" novalidate>
            <div class="form-group">
              <label class="control-label col-md-1" for="selectedCourse">Curso</label>

              <div class="col-md-5">
                <select class="form-control" required name="selectedCourse"
                        data-ng-options="item as item.Name for item in Stud.availableCourses track by item.CourseId"
                        ng-model="Stud.course.selectedCourse"></select>
                <span class="help-block" data-ng-show="courseForm.selectedCourse.$error.required">Escolha um curso.</span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-1">Data de início</label>

              <div class="dropdown">
                  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown">
                      Seleciona data de início ({{Stud.course.Start | date }})
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker data-ng-model="Stud.course.Start"
                                      data-datetimepicker-config="{   minView: 'day', dropdownSelector: '.dropdown-toggle' }"
                                      data-on-set-time="Stud.setDate(newDate, oldDate)"
                                      data-ng-required>
                      </datetimepicker>
                  </ul>
              </div>
            </div>

            <div class="form-group">
              <div class="checkbox checkbox-list">
                <label ng-repeat="day in Stud.listOfDays">
                  <input type="checkbox" checklist-model="Stud.course.days" checklist-value="day.id"> {{day.desc}}
                </label>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" data-ng-click="Stud.addCourse(Stud.student.StudentId, Stud.course)" data-ng-disabled="courseForm.$invalid" class="btn btn-xs">
                <material-icon-save />
                &nbsp;Adicionar
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jq.material.checkbox();
</script>
