<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th class="header-100">
        Nome
      </th>
      <th>
        Dias
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="course in Stud.courses track by course.CourseId">
      <td>
        <span data-ng-class="{'disabled-list-item': !course.Status}"><strong>{{course.Name}}</strong></span>
        <small>
           - De: <mark>{{course.Start | date}}</mark>
          Até: <mark>
            <span data-ng-show="course.Status"> Cursando</span>
            <span data-ng-show="!course.Status">{{course.End | date}}</span>
          </mark>
        </small>
      </td>
      <td>
        <kbd data-ng-repeat="day in course.Days">{{day | dayName}}</kbd>
      </td>
      <td>
        <button type="button"
          data-ng-click="Stud.changeCourseState(Stud.student.StudentId, course.CourseId, course.Status)"
          data-ng-class="{'btn-danger': course.Status, 'btn-success': !course.Status}"
          class="btn btn-xs"><material-icon-model icon="Stud.isEnable(course.Status)" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
