<div class="col-md-12">
  <h4>Cursos
    <button class="btn btn-primary btn-fab btn-fab-mini btn-add-course" data-ng-click="Stud.showAddCourse(Stud.student.StudentId)">
      <material-icon icon="add"/>
    </button>
  </h4>

  <student-courses-list />
</div>
