<div class="">
    <a href="#/student/{{Stud.student.StudentId}}" class="btn btn-xs btn-default">
      <material-icon-back />&nbsp;Voltar
    </a>
</div>

<div class="col-md-12" novalidate>
  <form class="form-horizontal" name="studentForm">
    <input type="hidden" name="id" data-ng-model="Stud.student.StudentId">

    <div class="form-group">
      <label class="control-label col-md-1" for="name">Nome</label>
      <div class="col-md-4">
        <input class="form-control" id="name" name="name" type="text" required minlength="3" data-ng-model="Stud.student.Name">
        <span class="help-block" data-ng-show="studentForm.name.$error.required">Digite um nome.</span>
        <span class="help-block" data-ng-show="studentForm.name.$error.minlength">Digite ao menos 3 letras.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1">Data de nascimento</label>

      <div class="dropdown">
          <a class="drop-date" id="dLabel" role="button" data-toggle="dropdown">
              Selecionar data ({{Stud.student.BornDate | date }})
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="Stud.student.BornDate"
                              data-datetimepicker-config="{   minView: 'day', dropdownSelector: '.drop-date' }"
                              data-on-set-time="Stud.setDate(newDate, oldDate)">
              </datetimepicker>
          </ul>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="cpf">CPF</label>

      <div class="col-md-4">
        <input class="form-control" id="cpf" name="cpf"
            type="text" required data-ng-model="Stud.student.CPF"
            ui-br-cpf-mask>

            <span class="help-block" data-ng-show="studentForm.cpf.$error.required">Digite um CPF.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="selectedCourse">Sexo</label>

      <div class="col-md-4">
        <select class="form-control col-md-1"
                name="selectedGender"
                data-ng-required>
                <option ng-repeat="g in Stud.genderList"
                       ng-selected="Stud.student.Gender==g.id"
                       value="{{g.id}}">
                  {{g.desc}}
                </option>
        </select>
        <span class="help-block" data-ng-show="studentForm.selectedGender.$error.required">Escolha um sexo.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="email">Email</label>

      <div class="col-md-4">
        <input class="form-control" id="email" name="email" type="email" required data-ng-model="Stud.student.Email">

        <span class="help-block" data-ng-show="studentForm.email.$error.required">Digite um email.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="phone">Fixo</label>

      <div class="col-md-4">
        <input class="form-control" id="phone" name="phone" type="text"
             data-ng-model="student.PhoneNumber"
             ui-br-phone-number>

             <span class="help-block" data-ng-show="studentForm.phone.$error.required">(xx) xxxx-xxxx.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="cellphone">Celular</label>

      <div class="col-md-4">
        <input class="form-control" id="cellphone" name="cellphone" type="text"
             required data-ng-model="Stud.student.CellphoneNumber"
              ui-br-phone-number>

             <span class="help-block" data-ng-show="studentForm.cellphone.$error.required">(xx) 9xxxx-xxxx.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="address">Endereço</label>

      <div class="col-md-4">
        <textarea class="form-control" name="address"
                  id="address" rows="8" cols="40" required data-ng-model="Stud.student.Address"></textarea>
      </div>
    </div>

    <div class="text-center">
      <a href="#/student/{{Stud.student.StudentId}}" class="btn btn-xs btn-default">
        <material-icon-back />&nbsp;Voltar
      </a>

      <button type="submit" data-ng-click="Stud.update(Stud.student)" data-ng-disabled="studentForm.$invalid" class="btn btn-xs">
        <i material-icon icon="save"></i>
        Salvar
      </button>
    </div>
  </form>
</div>
