<div class="">
    <a href="#/students/new" class="btn btn-xs btn-primary">
      <material-icon icon="person_add" />
      &nbsp;Novo Aluno
    </a>

    <button type="button"
            name="button"
            class="btn btn-xs btn-success"
            data-ng-click="Stud.export()">
      <material-icon icon="file_download" />
      &nbsp;Exportar Alunos
    </button>
</div>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th class="header-100">
        Nome
      </th>
      <th>
        Idade
      </th>
      <!-- Cursos relacionados ao usuário -->
      <th></th>
      <!-- Exclusão -->
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr dir-paginate="student in Stud.studentsList | itemsPerPage: Stud.itemsPerPage">{{ student.Name }}

          <td>
            <a href="#/student/{{student.StudentId}}">{{student.Name}}</a>
          </td>
          <td>
            {{student.Age}}
          </td>
          <td>
            <btn class="btn btn-default btn-xs" data-ng-click="Stud.loadPayments(student.StudentId)" ><material-icon-money /> </button>
          </td>
          <td>
            <btn class="btn btn-info btn-xs" data-ng-click="Stud.loadCourses(student.StudentId)" ><material-icon-class /> </button>
          </td>
          <td>
            <button class="btn btn-danger btn-xs" data-ng-click="Stud.delete(student.StudentId)" ><material-icon-delete /> </button>
          </td>

      </tr>

    <tr data-ng-repeat="student in Stud.studentsList track by student.StudentId">
    </tr>
  </tbody>
</table>

<center>
  <dir-pagination-controls></dir-pagination-controls>
</center>

<div class="modal fade" id="modalStudentCourses" tabindex="-1" role="dialog" data-keyboard='false' data-backdrop='static'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Cursos</h4>
      </div>
      <div class="modal-body">
        <student-courses-list-model courses="Stud.currentCourses" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<student-payments-model payments="Stud.payments" />
