<div class="">
    <a href="#/students" class="btn btn-xs btn-default">
      <material-icon-back />
      Voltar
    </a>
</div>

<div class="col-md-12" novalidate>
  <form class="form-horizontal" name="studentForm">
    <div class="form-group">
      <label class="control-label col-md-1" for="name">Nome</label>
      <div class="col-md-4">
        <input class="form-control" id="name" name="name" type="text" required minlength="3" data-ng-model="student.Name">
        <span class="help-block" data-ng-show="studentForm.name.$error.required">Digite um nome.</span>
        <span class="help-block" data-ng-show="studentForm.name.$error.minlength">Digite ao menos 3 letras.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1">Data de nascimento</label>

      <div class="dropdown">
          <a class="drop-date" id="dLabel" role="button" data-toggle="dropdown">
              Selecionar data ({{student.BornDate | date }})
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="student.BornDate"
                              data-datetimepicker-config="{   minView: 'day', dropdownSelector: '.drop-date' }"
                              required>
              </datetimepicker>
          </ul>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-md-1" for="cpf">CPF</label>

      <div class="col-md-4">
        <input class="form-control" id="cpf" name="cpf"
            type="text" required data-ng-model="student.CPF"
            ui-br-cpf-mask>

            <span class="help-block" data-ng-show="studentForm.cpf.$error.required">xxx.xxx.xxx-xx</span>
            <span class="help-block" data-ng-show="studentForm.cpf.$error.cpf">Digite um CPF válido.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="selectedCourse">Sexo</label>

      <div class="col-md-4">
        <select class="form-control col-md-1"
                name="selectedGender"
                data-ng-required>
                <option ng-repeat="g in Stud.genderList"
                 value="{{g.id}}">
                  {{g.desc}}
                </option>
        </select>
        <span class="help-block" data-ng-show="studentForm.selectedGender.$error.required">Escolha um sexo.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="email">Email</label>

      <div class="col-md-4">
        <input class="form-control" id="email" name="email" type="email" required data-ng-model="student.Email">

        <span class="help-block" data-ng-show="studentForm.email.$error.required">Digite um email.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="phone">Fixo</label>

      <div class="col-md-4">
        <input class="form-control" id="phone" name="phone" type="text"
             data-ng-model="student.PhoneNumber"
             ui-br-phone-number>

             <span class="help-block" data-ng-show="studentForm.phone.$error.required">(xx) xxxx-xxxx.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="cellphone">Celular</label>

      <div class="col-md-4">
        <input class="form-control" id="cellphone" name="cellphone" type="text"
             required data-ng-model="student.CellphoneNumber"
             ui-br-phone-number>

             <span class="help-block" data-ng-show="studentForm.cellphone.$error.required">(xx) 9xxxx-xxxx.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-1" for="address">Endereço</label>

      <div class="col-md-4">
        <textarea class="form-control" name="address"
                  id="address" rows="8" cols="40" required data-ng-model="student.Address"></textarea>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" data-ng-click="Stud.add(student)" data-ng-disabled="studentForm.$invalid" class="btn btn-xs">
        <material-icon-save />
        &nbsp;Salvar
      </button>
    </div>
  </form>
</div>
