<div class="">
    <a href="#/students" class="btn btn-xs btn-default">
      <material-icon-back />
      Voltar
    </a>
    <a href="#/student/edit/{{Stud.student.StudentId}}" class="btn btn-xs btn-info">
      <material-icon-edit />
      Editar
    </a>

    <button data-ng-click="Stud.loadPayments(Stud.student.StudentId)" class="btn btn-xs btn-default">
      <material-icon-money />
      Pagamentos
    </button>
</div>

<dl class="dl-horizontal">
  <dt>Nome</dt>
  <dd>{{Stud.student.Name}}</dd>

  <dt>Idade</dt>
  <dd>{{Stud.student.Age}}</dd>

  <dt>Sexo</dt>
  <dd>{{Stud.student.Gender | gender}}</dd>
</dl>

<div class="row">
  <student-courses-area />
</div>

<student-associate-course />
<student-payments-model payments="Stud.payments" />
