<div class="modal fade" id="modalAddPayment"  tabindex="-1" role="dialog" data-keyboard='false' data-backdrop='static'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Registrar pagamento</h4>
      </div>
      <div class="modal-body">

        <form class="form-horizontal" name="paymentForm" novalidate>
          <div class="form-group">
            <label class="col-md-2 control-label">Aluno</label>
            <div class="col-md-10">
              <p class="form-control-static">{{Pay.currentStudent.Name}}</p>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="selectedCourse">Curso</label>

            <div class="col-md-10">
              <select class="form-control" name="selectedCourse" data-ng-required
                      data-ng-options="item as item.Name for item in Pay.validCourses track by item.CourseId"
                      ng-model="Pay.payment.selectedCourse"></select>

              <span class="help-block" data-ng-show="paymentForm.selectedCourse.$error.required">Escolha um curso.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2" for="selectedMonth">Mês</label>

            <div class="col-md-10">
              <select class="form-control" name="selectedMonth" data-ng-required
                      data-ng-options="month as month.desc for month in Pay.months track by month.id"
                      ng-model="Pay.payment.selectedMonth"></select>

              <span class="help-block" data-ng-show="paymentForm.selectedMonth.$error.required">Escolha um curso.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">Valor</label>
            <div class="col-md-10">
              <div class="input-group">
                <span class="input-group-addon"><material-icon-money /></span>
                <input type="numeric" id="paymentValue" name="paymentValue"
                      data-ng-model="Pay.payment.paymentValue" class="form-control"
                      ui-number-mask required>
                <p class="help-block" data-ng-show="paymentForm.paymentValue.$error.required">Digite um valor.</p>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" data-ng-click="Pay.addPayment(Pay.currentStudent.StudentId, Pay.payment)" data-ng-disabled="paymentForm.$invalid" class="btn btn-xs">
              <material-icon-payment />
              &nbsp;Registrar
            </button>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
