<div class="">
  <button type="button"
          name="button"
          class="btn btn-xs btn-success"
          data-ng-click="Pay.export()">
    <material-icon icon="file_download" />
    &nbsp;Exportar Pagamentos
  </button>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <th class="header-100">
      Aluno
    </th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr data-ng-repeat="student in Pay.students">
      <td>
        {{student.Name}}
      </td>
      <td>
        <btn class="btn btn-info btn-xs" data-ng-click="Pay.loadPayments(student.StudentId)" ><material-icon-money /> </button>
      </td>
      <td>
        <button class="btn btn-sm btn-success" data-ng-click="Pay.showAddPayment(student.StudentId)">
          <material-icon-payment />
        </button>
      </td>
    </tr>
  </tbody>
</table>

<student-payments-model payments="Pay.payments" />

<add-payment />
