body
{
  padding-top: 70px;
}

table tbody td
{
  vertical-align: middle !important;
}

.btn-add-course{
    margin-left: 10px !important;
}

.disabled-list-item {
  text-decoration: line-through;
  color: #F44336;
}

.header-100{
  width: 100%
}

.header-45{
  width: 45%
}

.header-40{
  width: 45%
}

.header-15{
  width: 15%
}

.checkbox-list > label{
  padding-right: 10px;
}

#modalLoading{
  z-index: 99999;
}
