<div class="modal fade" id="modalStudentPayments" tabindex="-1" role="dialog" data-keyboard='false' data-backdrop='static'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Útimos pagamentos</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-striped table-condensed">
          <thead>
            <tr>
              <th class="header-45">
                Curso
              </th>
              <th class="header-15">
                Mês ref.
              </th>
              <th>
                Valor
              </th>
              <th class="header-40">
                Dt. pagto.
              </th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="payment in payments">
              <td>
                {{payment.Course.Name}}
              </td>
              <td>
                {{payment.Month | monthOfYear }}
              </td>
              <td>
                {{payment.PaymentValue | currency}}
              </td>
              <td>
                {{payment.PayDay | date}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
