<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th class="header-100">
        Nome
      </th>
      <th>
        Dias
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="course in courses track by course.CourseId">
      <td>
        {{course.Name}}
      </td>
      <td>
        <kbd data-ng-repeat="day in course.Days">{{day | dayName}}</kbd>
      </td>
    </tr>
  </tbody>
</table>
